apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service-2
spec:
  selector:
    app: api-gateway-2
  ports:
    - name: api-gateway-2
      port: 27017
      targetPort: 27017
  clusterIP: None

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: api-gateway-2
spec:
  serviceName: api-gateway-service-2
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway-2
  template:
    metadata:
      labels:
        app: api-gateway-2
    spec:
      containers:
        - name: api-gateway-2
          image: api-gateway:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "1Gi"
              cpu: "1"
            requests:
              memory: "1Gi"
              cpu: "1"
          ports:
            - containerPort: 5000

