apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  ports:
  - port: 3306
  selector:
    app: lockmaster-mysql
  clusterIP: None

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: lockmaster-mysql
spec:
  selector:
    matchLabels:
      app: lockmaster-mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lockmaster-mysql
    spec:
      containers:
      - name: lockmaster
        image: lockmaster:latest
        imagePullPolicy: Never
        resources:
          limits:
            memory: "1Gi"
            cpu: "1"
          requests:
            memory: "1Gi"
            cpu: "1"
        ports:
          - containerPort: 5000
      - name: mysql
        image: mysql:5.7
        args:
          - "--ignore-db-dir=lost+found"
        env:
          # Use secret in real usage
          - name: MYSQL_ROOT_PASSWORD
            value: your_root_password
          - name: MYSQL_DATABASE
            value: your_database_name
          - name: MYSQL_USER
            value: your_username
          - name: MYSQL_PASSWORD
            value: your_password
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pvc
      imagePullSecrets:
        - name: regcred-ghcr
